{% extends 'student/layout.html' %}

{% block title %}Тесты{% endblock %}

{% block body %}
    <div>
        <h1>{{ quiz.name }}</h1>
        <a href="{% url 'add-question' %}"><button class="btn btn-danger">Добавить ответ</button></a>
        <div>
            {% for i in questions %}
            {% if quiz.id == i.quiz_id %}
            <button class="btn btn-info">
                <a href="answers/{{ i.id }}"><h2>{{ i.name }}</h2></a>
            </button>
            {% endif %}
        {% endfor %}
        </div>
    </div>
{% endblock %}